.blog-post {

	&__author {
		border-bottom: 1px solid $gray-medium;
		margin-bottom: 6rem;
		padding-bottom: 3rem;
	}

	&__author-info {
		display: flex;
		align-items: center;
	}

	&__author-img {
		border-radius: 50%;
		display: inline-block;
		overflow: hidden;
		max-width: 4rem;
		max-height: 4rem;
		border: 1px solid $yellow;
		margin-right: 1.5rem;
	}

	&__author-wrap {
		
	}

	&__author-description {
		margin-bottom: 0;
		font-size: 1.2rem;
	}

	&__author-social {
		display: flex;
		flex-direction: column;
		font-size: 14px;
	}

	&__content {

		h1, h2,
		h3, h4,
		h5, h6 {
			margin-top: 6rem;
		}
	}
}