.blog {

	&__controls {
		position: relative;
		z-index: 20;
		margin-bottom: 1rem;
	}

	&__controls, &__row {
		width: 100%;
	}

	&__filter-wrap {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
	}

	&__filter {
		cursor: pointer;
		margin: 1rem 3rem;
		transition: $easeInOutQuint .8s;
		opacity: 0;
		transform: translateY(-200px) translateZ(0);

		&.is-active {
			transform: translateY(0) translateZ(0);
			opacity: 1;
		}

		&--dropdown {
			margin: 0;
			display: flex;
			align-items: center;

			&:hover {
				cursor: pointer;
			}

			svg {
				width: 2rem;
				height: auto;
				transform: rotate(-180deg) translateZ(0);
				transition: all .8s $easeInOutQuint; 
			}

			&.is-active {

				svg {
					transform: rotate(0) translateZ(0);
				}
			}
		}
	}

	&__post {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		text-decoration: none;
  		outline: none;
  		float: none;
	}

	&__cat {

	}

	&__excerpt {
		margin-bottom: 5rem;
	}

	&__btn {
		position: absolute;
		bottom: 0;
	}
}