.bullshit {

	&__toggle {
		display: flex;
		flex-direction: column;
		justify-content: center; 
		flex: .2;

		@include below (sm) {
			display: none;
		}

		input[type=checkbox]{
			height: 0;
			width: 0;
			visibility: hidden;
		}

		label {
			cursor: pointer;
			text-indent: -9999px;
			width: 4.8rem;
			height: 2.4rem;
			background: $gray-medium;
			display: block;
			border-radius: 100px;
			position: relative;
		}

		label:after {
			content: '';
			position: absolute;
			top: 3px;
			left: 3px;
			width: 1.8rem;
			height: 1.8rem;
			background: $white;
			border-radius: 90px;
			transition: all ease .3s;
		}

		input:checked + label {
			background: $gray-dark;
		}

		input:checked + label:after {
			left: calc(100% - 3px);
			transform: translateX(-100%);
		}

		label:active:after {
			width: 3.8rem;
		}
	}

	&__terms {
		position: relative;

		&:before {
			content: 'Bullshit';
			position: absolute;
			transform: rotate(-5deg) translateX(-50%);
			transform-origin: 50% 50%;
			top: 0;
			left: 50%;
			background: $yellow;
			color: $color-body;
		} 
	}
}