.contact {
	padding-top: 12rem;
	padding-bottom: 12rem;

	@include above (sm) {
		padding: 16.36111111111111vw 0;
	}

	&__toggle {
		width: 100%;
		-webkit-appearance: none;
		border: none;
		cursor: pointer;
		outline: none;
		background: transparent;

		&.is-active {

		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		position: relative;
		margin: 0;
		padding-right: 1.5rem;
		padding-left: 1.5rem;

		@include above (xl) {
			font-size: 3.8rem;
		}

		span {
			position: relative;
			z-index: 10;
			
			&:last-child {

				&:before  {
					content: '+';
				}
			}
		}

		&.in-view {

			&:after {
				width: 100%;
			}
		}

		&.is-active {

			&:after {
				height: 100%;
			}

			span {

				&:last-child {

					&:before  {
						content: '-';
					}
				}
			}
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			height: 2rem;
			background: $yellow;
			width: 0;
			z-index: 0;
			left: 0;
			transition: all .6s $easeInOutQuint;
		}
	}

	&__areas {
		height: 0;
		padding-top: 0;
		padding-left: 0;
		opacity: 0;
		transition: all .3s $easeInOutQuint;

		&.is-active {
			padding-top: 3rem;
			height: 100%;
			opacity: 1;
		}
	}

	&__area {
		list-style-type: none;
		font-size: 2.4rem;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		transform: translateX(-2rem) translateZ(0);
		opacity: 0;
		padding-left: 3rem;

		&.is-active {
			transform: translateX(0) translateZ(0);
    		transition: all $easeInOutQuint 1.8s;
    		transition-delay: .3s;
    		opacity: 1;
		}

		a {
			color: $color-body;
		}

		&:before {
			content: '-';
			position: relative;
			margin-right: 1.5rem;
			color: $gray-medium;
		}
	}

	&__btn {
		-webkit-appearance: none;
		border: none;
		outline: none;

		&:hover {
			cursor: pointer;
		}
	}

	&__form {
		display: none;
		opacity: 0;
		transition: all .8s ease;
		transform: translateX(-2rem) translateZ(0);

		&.is-active {
			opacity: 1;
			display: block;
			transform: translateX(0) translateZ(0);
		}
	}

	&__reset {
		width: 3rem;
		height: auto;
		transform: rotate(180deg);

		&:hover {
			cursor: pointer;
		}
	}
}