.employee {

	&__item {
		margin-top: 2rem;
		margin-bottom: 2rem; 
		padding-bottom: 10rem;

		&.in-view {

			.employee__name, .employee__position,
			.btn--td {
				transform: translateY(0) translateZ(0);
				opacity: 1;
			}
		}
	}

	&__wrap {
		overflow: hidden;
		display: block;
	}

	&__name, &__position,
	.btn--td {
		transform: translateY(300px) translateZ(0);
		transition: all 2.8s $easeInOutQuint;
		opacity: 0;
	}
}
