
.footer {
	padding: 6rem 1.5rem;
	position: relative;

	@include above (sm) {
		padding: 5.555555555555555vw 0;
	}

	&__wrap {
		margin-bottom: 6rem;

		@include above (sm) {
			margin-bottom: 10rem;
		}
	}

	&__contact-info {
		display: flex;
    	flex-direction: column;
    	justify-content: flex-end;
    	font-size: 14px;

    	@include below (sm) {
			width: 100%;
		}

    	p:last-child {
			
			@include above (sm) {
				margin-bottom: 0;
			}
		}
	}

	&__certs {

		@include below (sm) {
			padding: 0;
		}

		p {
			margin: 0;
			color: $white;
			font-size: 20px;
		}
	}

	&__row {
		flex: 1;
	}

	&__column {
		align-self: flex-end;
		font-size: 14px;
		text-decoration: underline;

		@include below (sm) {
			width: 100%;
		}

		a {
			color: $gray-medium;
		}
		
		p {
			
			@include above (sm) {
				margin-bottom: 0;
			}
		}
	}

	&__title {
		color: $white;

		&--contact {

			a {
				color: $white;
			}
		}
	}
}
