.header {
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;

	@include above (sm) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	&__logo {
		display: flex;
		flex-direction: column;
		float: left;
		background-position: center center;
    	background-repeat: no-repeat;
    	background-size: contain;
		width: 19rem;
		height: auto;
		z-index: 100000;

		.head, .flask,
		.flask-2, .flask-bg {
			opacity: 0;
			transition: all ease-in .3s 0s;
		}

		.flask-bg, .head, 
		.flask {
			fill: $yellow;
		}

		.flask-2 {
			fill: $white;
			transform-origin: 386px 86px;
		}

		.flask {
			 transform-origin: 386px 86px;
			 transform: scale(1.2) translateZ(0);
		}

		.letter {
			transform: translateX(-350px) translateZ(0);
			transition: all ease-in .3s;
		}

		&.is-active {

			.head, .flask, 
			.flask-2, .flask-bg {
				opacity: 1;
				transition: all ease-in .3s .3s;
			}

			.flask-2 {
				animation: rotate 1.8s $easeElastic infinite;
			}

			.letter {
				transform: translateX(0) translateZ(0);
			}
		}
	}
}