/********************LAYOUTS********************/

/* Base Styles */


/* WYSIWYGs */
.wysiwygs {

  &__title {

  }

  &__col {
	
  @include above (sm) {

    &.first {

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.last {

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.bg {
  
  &--gray-dark {
    color: $white;

    .title {
      color: $white;
    }

    a {
      color: $white;
    }
  }
} 

.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

  &--column {
    flex-direction: column;
  }

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}

//standard paddings change accordion to design
.padding {

  &--top {
    padding-top: 8.333333333333334vw;
  }
  
  &--bottom {
    padding-bottom: 8.333333333333334vw;
  }

  &--both {
    padding: 8.333333333333334vw 0;
  }

}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}