.nav {

	@include above (sm) {
		width: calc(100% - 110px);
	}

	&__menu {
	    list-style: none;
	    position: relative;
	    z-index: 100;
	    width: 100%;
	    top: 103px;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			width: auto;
			top: 0;
			float: right;
			display: flex !important;
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1rem;
		order: 2;

		@include above (sm) {
			float: left;
			padding: 1rem 1.5rem;
			display: inline-block;
		}

		&.is-active > a {
			color: $color-body;

			&:before {
				transform: scaleX(1);
				transform-origin: right;
			}
		}

		&--btn {

			@include above (sm) {
				padding-right: 0;
				padding-left: 0;
			}

			&.is-active > a {
				color: $color-body;
				background: $yellow;
			}

			a {
				background: $color-body;
				text-transform: uppercase;
				position: relative;
				padding: 1.4rem 3rem;

				&.is-active {
					color: $color-body;
					background: $yellow;
				}

				&:before {
					display: none;
				} 

				span {
					z-index: 10;
					position: relative;
				}

				&:after {
					position: absolute;
					content: '';
					width: 100%;
					height: 0;
					bottom: 0;
					right: 0;
					z-index: 0;
					background: $yellow; 
					transition: all .8s $easeInOutQuint;
				}

				&:hover {
					
					&:after {
						top: 0;
		  				height: 100%;
					}
				}
			}
		}
	}


	&__link {
		color: $gray-medium;
		font-family: $font-headings;
		position: relative;
		transition: all .3s;

		&:before {
			background: $yellow;
			width: 100%;
			height: .2rem;
			content: '';
			position: absolute;
			top: 50%;
			transform: scaleX(0);
			transform-origin: left;
			transition: all .8s $easeInOutQuint;
		}

		&:hover {
			color: $color-body;
		}

		&.is-disable {
			pointer-events: none;
		}

		&.is-active  {
			color: $color-body;

			&:before {
				transform: scaleX(1);
				transform-origin: right;
			}
		}
	}


	&__dropdown {
		display: none;
		padding: 0;
		position: absolute;
		top: 100%;
		background: red;

		&.is-visible {
			display: block;
		}

		li {
			padding: 0;
		}

		a {
			padding: 0.5rem 1rem;
			white-space: nowrap;

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {
		
		@include below (sm) {
			position: fixed;
			z-index: 78888;
			top: 0;
			right: 0;
			height: calc(100% - 0px);
			width: 100%;
			transform: translateX(100%);
			transition: all .6s ease;
			background: $white;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateX(0);
			}

			// Set body to fixed
			@at-root {		
				body.is-fixed {
					overflow: hidden;
					position: fixed;
					width: 100%;
					height: 100%;
				}
			}
		}

		@include above (sm) {
			display: flex;
		}
	}


	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $black;
			font-weight: 600;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 2rem;
			height: 3px;
			background: transparent;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 2px;
				background: $black;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.4rem;
			}

			&::after {
				top: -.4rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

#menu-main-nav {

	@include above (sm) {
		flex: 1;
		justify-content: center;
	}
}