.page {
	
	&__hero {
		position: relative;
		padding: 13.88888888888889vw 0;		

		#lion {
			position: absolute;
			top: -15rem;
			z-index: 0;

			@include below (sm) {
				width: 100%;
				height: 40rem;
			}
		}

		#scroll {
			position: absolute;
			right: 8rem;
			bottom: -8rem;
			z-index: 20;
			animation: rotate 3.8s linear infinite;
			display: none;

			@include above (sm) {
				bottom: -19.444444444444443vw;
				display: block;
			}

			@include above (lg) {
				right: 14rem;
			}

			path {
				fill: $yellow;
			}
		}
	}

	&__container {
		position: relative;
	}

	&__row {
		flex: 1;
	}

	&__title-wrap {
		overflow: hidden;
	} 

	&__title {
		position: relative;
		z-index: 20;
		max-width: 75vw;
		margin: 0;
	} 

	&__img-container {
		overflow: hidden;
	}

	&__img {
		padding-top: 0;
		z-index: 10;
		background: no-repeat center center;
		background-size: cover;

		@include above (sm) {
			min-height: 55rem;
		}

		@include above (xl) {
			min-height: 65rem;
		}

		&--hero {
			margin-bottom: 12rem;
		}

		&--wrapper {
			overflow: hidden;
		}
	}
}
