//nice reference bro
.references {

	&__header {

	}

	&__list {
		width: 100%;
		margin-top: 3rem;

		@include above (sm) {
			width: 50%;
			margin-top: 0;
		}
	}

	&__item {
		border-top: 1px solid $gray-medium;

		&:last-child() {
			border-bottom: 1px solid $gray-medium;			
		}
	}

	&__title {
		margin-bottom: 0;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	&__icon {
		width: 3rem;
		height: auto;
		position: relative;
		transform: rotate(-45deg) translateZ(0);
	}
}