//Selected Käse 🧀
.selected-cases {

	&__meta-title {
		position: relative;
		z-index: 10;
		margin-bottom: 6rem;
	}

	&__header {

		@include above (sm) {
			margin-bottom: 6rem;
		}
	}
	
	&__item {
		position: relative;

		@include above (sm) {
			margin-top: 6rem;
			margin-bottom: 6rem;
		}
		

		&.in-view {

			.selected-cases__link, .selected-cases__title {
				transform: translateY(0) translateZ(0);
				opacity: 1;
			}
		}
	}

	&__img-wrap {
		position: relative;
		display: flex;
		@include bgEl();

		&:hover {

			.selected-cases__img {
				transform: translate(1.5rem, 1.5rem) translateZ(0);
			}
		}
	}

	&__img {
		transition: transform .8s $easeInOutQuint;
	}

	&__wrap {
		overflow: hidden;
	}

	&__title {
		margin-bottom: .5rem;
	}

	&__link {
		text-transform: uppercase;
		letter-spacing: 0.30959752321981426vh;
		font-family: $font-body-medium;
		font-size: 12px;
	}

	&__title, &__link {
		transition: all 2.8s $easeInOutQuint;
		transform: translateY(300px) translateZ(0);
	}
}