.services {

	&__row {
		margin-bottom: 3rem;
	}

	&__item {
		position: relative;
		background: no-repeat center center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		min-height: 45rem;
		width: 100%;
		margin: 3rem 1.5rem;

		@include above (sm) {
			width: calc(25% - 3rem);
			margin: 1.5rem;
			min-height: 55rem;
		}

		@include above (xl) {
			min-height: 65rem;
		}


		&:hover {

			.services__img {
				transform: translate(1rem, 1rem);
			}
		}
	}

	&__img-wrap {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		display: flex;
		background: no-repeat center center;
		background-size: cover;
		@include bgEl();
	}

	&__img {
		transition: transform .8s $easeInOutQuint;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background: no-repeat center center;
		background-size: cover;
	}

	&__wrap {
		position: relative;
		z-index: 10;
		justify-content: space-between;
    	flex: 1;
    	display: flex;
    	flex-direction: column;
    	padding: 0rem 1rem;
	}

	&__title {
		color: $white;
	}

	&__link {
		text-transform: uppercase;
		letter-spacing: .3rem;
		font-size: 12px;
		margin-bottom: 3rem;
		align-self: flex-start;
	}

	&__service-column {
		padding-bottom: 5rem;

		ul {
			padding: 0;
		}

		li {
			list-style-type: none;
		}
	}

	&__partners {
		background: $gray-dark;
		padding: 12rem 3rem;

		@include above (sm) {
			width: calc(25% - 3rem);
			margin: 1.5rem;
		}
	}

	&-overview {

		&__item {
			padding: 5.555555555555555vw 1.5rem;
			display: flex;
			flex-wrap: wrap;

			&:first-child {
				padding-top: 0;
			}
		}

		&__img {
			position: relative;
			overflow: hidden;
			min-height: 40rem;
		}

		&__img-wrap {
			@extend .services__img-wrap;
		}

		&__bg {
			@extend .services__img;
		}

		&__text {
			padding: 4.166666666666667vw;
			line-height: 1.8;
		}

		&__excerpt {
			font-size: 20px;
		}

		&__btn {
			margin-top: 3rem;
		}
	}
}