//sharing is caring

//titles
.meta-title {
	font-family: $font-body-medium;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.30959752321981426vh;
	color: $gray-medium;
	margin-bottom: 3rem;
	margin-top: 0;
}

.title {
	margin-top: 0;
}

//label
.label {
	color: $color-body;
	background: $yellow;
	display: inline-block;
}

.js-scrollable {
	will-change: transform;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	-webkit-perspective: 1000;
	perspective: 1000;
}

.route-transition__container {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
	transform: translateZ(0);
}

#overlay {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	top: 0;
	left: 0;
	background: rgba($black, .5);

	&.is-active {
		display: block;
		transition: all .8s $easeInOutQuint;
	}
}

#modal {
	opacity: 0;
	z-index: -1;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 0%);
	background: $yellow;
	padding: 6rem;
	text-align: center;
	transition: all .8s $easeInOutQuint;

	&.is-active {
		display: block;
		transform: translate(-50%, -50%);
		opacity: 1;
		z-index: 10;
	}
}