.single-case {

	&__header {

		@include above (sm) {
			margin-bottom: 12rem;
		}
	}

	&__intro {
		padding: 5rem;
	}

	&__service-column {
		padding-bottom: 5rem;

		ul {
			padding: 0;
		}

		li {
			list-style-type: none;
		}
	}

	&__service-title {
		font-family: $font-body-medium;
		margin-bottom: 1.5rem;
	}

	&__results {
		position: relative;
		margin-bottom: 3rem;

		@include above (sm) {
			text-align: center;
		}
	}

	&__video {
		
	}
}