.video {

	&__video {
		max-width: 100%;
		backface-visibility: hidden;

		&--preview {
			position: absolute;
    		width: calc(100% - 3rem);
    		z-index: 10;
		}
	}
}

.plyr {
	cursor: pointer;

	&__controls {
		display: none;
	}

	&__control {
		z-index: 100 !important;
		padding: 3rem;

		&--overlaid {
			background: $purple !important;

			&:hover {
				background: $yellow !important;
			}
		}
	}

	&__tab-focus {
		box-shadow: none !important;
	}
}