//My best mates name is Ani Mate
.is-animated {

	&--reveal {
		transition: all 2.8s $easeInOutQuint;
		transform: translateY(100%) translateZ(0);

		&.in-view {
			transform: translateY(0) translateZ(0);
		}
	}

	&--fadeUp {
		transition: all 2.8s $easeInOutQuint;
		transform: translateY(200px) translateZ(0);
		opacity: 0;

		&.in-view {
			transform: translateY(0) translateZ(0);
			opacity: 1;
		}
	}

	&--fadeIn {
		opacity: 0;
		transition: opacity 3.8s $easeInOutQuint;

		&.in-view {		
			opacity: 1;
		}
	}

	&--zoomIn {
		transform: scale(1.5) translateZ(0);
		transition: all 2.8s $easeInOutQuint;	

		&.in-view {
			transform: scale(1) translateZ(0);
		}
	}
}

@keyframes rotate {

  from {
     transform: rotate(0deg) translateZ(0);
  }

  to {
    transform: rotate(360deg) translateZ(0);
  }
}