//Benjamin Buttons
.btn {
	padding: 1.4rem 3rem;
	display: inline-block;

	&--gray, &--yellow {
		text-transform: uppercase;
		position: relative;
		font-family: $font-headings;

		span {
			z-index: 10;
			position: relative;
		}

		&:after {
			position: absolute;
			content: '';
			width: 100%;
			height: 0;
			bottom: 0;
			right: 0;
			z-index: 0;
			transition: all .8s $easeInOutQuint;
		}

		&:hover {
			
			&:after {
				top: 0;
  				height: 100%;
			}
		}
	}

	&--gray {
		background: $color-body;
		color: $white;

		&:after {
			background: $yellow; 
		}

		&:hover {
			color: $color-body;
		}
	}

	&--yellow {
		background: $yellow;
		color: $color-body;

		&:after {
			background: $color-body;
		}

		&:hover {
			color: $white;
		}
	}

	&--td {
		text-decoration: underline;
		color: $color-body;
		display: block;
	}
}
