//it was just my pagination running away with me
.footer-pagination {
	position: relative;
	padding: 13.88888888888889vw 0;
	display: block;

	@include overlay();

	&:after {
		transform: translateY(100%) translateZ(0);
		transition: all 1.8s $easeInOutQuint;
	}

	&.in-view {

		&:after {
			transform: translateY(0) translateZ(0);
			transition-delay: .4s;
		}

		.footer-pagination__bg {
			transform: translateY(0) translateZ(0);
			transition-delay: .4s;
		}

		.footer-pagination__meta-title {
			color: $yellow;
			transition-delay: .4s;
		}

		.footer-pagination__title {
			color: $white;
			transition-delay: .4s;
		}
	}

	&:hover {

		&:after {
			transform: translateY(0) translateZ(0);
			transition-delay: .4s;
		}

		.footer-pagination__bg {
			transform: translateY(0) translateZ(0);
			transition-delay: .4s;
		}

		.footer-pagination__meta-title {
			color: $yellow;
			transition-delay: .4s;
		}

		.footer-pagination__title {
			color: $white;
			transition-delay: .4s;
		}
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		background: no-repeat center center;
		background-size: cover;
		transition: transform 1.8s $easeInOutQuint;
		transform: translateY(100%) translateZ(0);
		z-index: 0;
	}

	&__container {
		position: relative;
		z-index: 10;
	}

	&__title, &__meta-title {
		transition: all 1.8s $easeInOutQuint;
		
	}
}