.newsletter {

	&__form-field {
		position: relative;

		@include above (sm) {
			max-width: 66.66667%;
			margin-left: 16.66667%;
		}
	}

	&__form-wrap {
		justify-content: center;

		&:after {
    		content: '';
		    position: absolute;
		    bottom: 1rem;
		    height: 2rem;
		    background: $yellow;
		    width: 0;
		    z-index: 0;
		    left: 0;
		    transition: all .6s $easeInOutQuint;
    	}

    	&.in-view {

			&:after {
				width: 100%;
			}
		}
	}

	&__form-input {
		padding: 1rem;
		@extend .h2;
		color: $color-body;
		outline: none;
		width: 100%;
		-webkit-appearance: none;
    	border: none;
    	position: relative;
    	z-index: 10;
    	background: transparent;
	}

	&__form-submit {
		display: none;
	}

	&__form-btn {
		width: 6rem;
		height: auto;
		position: absolute;
		right: 0;
		z-index: 10;
	}
}