/********************GLOBAL********************/

* {
  /* (http://paulirish.com/2012/box-sizing-border-box-ftw/) */
  box-sizing: border-box;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  font-family: $font-body;
  color: $color-body;
}

body {
  background-color: $white;
  overflow-x: hidden;
  line-height: 1.5;
  margin: 0;
  font-size: $base-font-size;

  @include above (sm) {
    font-size: $base-font-size-desktop;
  }
}

main {

}

/* Links */
a, .a {
  text-decoration: none;
  outline: none;
  transition: all ease .3s;
}

/* Figures and Blockquotes */
figcaption {
  font-style: italic;
  text-align: center;
}


blockquote {
  quotes: "\201C""\201D";
  position: relative;

  &:before {
    content: open-quote;
    font-size: 4rem;
    position: absolute;
    top: 2px;
  }

  p {
    display: inline;
  }
}

cite {
  display: block;
  font-style: normal;
}

/* Paragraphs and Lists
   ========================================================================== */

p, ul, ol {
  margin: 0 0 1.5rem;
}

ul, ol {
  ul, ol {
    margin-bottom: 0;
  }
}


/* Default Image Styles */
img {
  height: auto;
  max-width: 100%;
}

/* WordPress Image Styles */
[class^="wp-image-"], [class*=" wp-image-"], .wp-caption {
  display: block;
  height: auto;
  max-width: 100%;

  .wp-caption & {
    padding: 0;
    border: 0;
  }

  .wp-caption-text {
    font-size: 75%;
    font-style: italic;
    margin: 0;
    padding: 16px 16px 12px;
  }
}

/* Containers */
.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  word-wrap: break-word;
}

.wrap {
  max-width: 176rem;

}

/*
 * HELPER CLASSES
 */

.hpad {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include above (sm) {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

.center {
  text-align: center;
}


.alignleft {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 1rem 1rem 0;
    float: left;
  }
}

.aligncenter {
  margin: 1rem auto;
  clear: both;
}

.alignright {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 0 1rem 1rem;
    float: right;
  }
}

//states
.is-loading {
  cursor: progress;
}

.is-hidden {
  display: none;
}

//scrollbar
body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba($white ,1);
}

body::-webkit-scrollbar-thumb {
  background-color: $white;
  outline: 1px solid $color-body;
}

//placeholders
::-webkit-input-placeholder {
  color: $color-body;
  opacity: 1;
}

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder { 
  color: $color-body;
  opacity: 1;
}

/* Mozilla Firefox 19+ */
::-moz-placeholder { 
  color: $color-body;
  opacity: 1;
}

/* Internet Explorer 10+ */
:-ms-input-placeholder { 
  color: $color-body;
}

::selection {
  background: $gray-dark;
  color: $white;
}

:-moz-selection {
  background: $gray-dark;
  color: $white;
}