/********************MIXINS*********************/

@mixin clearfix() {

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin overlay($color: $black, $opacity: 0.3) {

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color, $opacity);
  }
}


@mixin bgEl($color: $purple) {

	&:after {
		background: $color;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		content: '';
		z-index: -1;
	}
}