h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $font-headings;
  color: $color-headings;
  line-height: 1.5;
  font-weight: 500;
}

h1, .h1 {
  font-size: 2.8rem;
}

@include above (sm) {
  h1, .h1 {
    font-size: 3.4782608695652173vw;
  }
}

@include above (lg) {
  h1, .h1 {
    font-size: 5.6rem; 
  }
}

h2, .h2 {
  font-size: 2.8rem;
}

@include above (sm) {
  h2, .h2 {
    font-size: 3.0434782608695654vw;
  }
}

@include above (lg) {
  h2, .h2 { 
    font-size: 3.2rem;
  }
}

h3, .h3 {
  font-size: 2.2rem;
}

@include above (sm) {
  h3, .h3 {
    font-size: 2.608695652173913vw;
  }
}

@include above (lg) {
  h3, .h3 {
    font-size: 2.8rem;
  }
}

h4, .h4 {
  font-size: 1.8rem;
}

@include above (sm) {
  h4, .h4 {
    font-size: 2.1739130434782608vw;
  }
}

@include above (lg) {
  h4, .h4 {
    font-size: 2.5rem;
  }
}

h5, .h5 {
  font-size: 1.8rem;
}

h6, .h6 {
  font-size: 1.6rem;
}