/********************VARIABLES********************/

// Custom fonts example (modify as needed)
@font-face {
  font-family: 'GT America EM';
  font-display: auto;
  src: url('../fonts/GT-America-Expanded-Medium.OTF') format('opentype');
  font-weight: 500;
  font-style: normal; 
}

@font-face {
  font-family: 'GT America M';
  font-display: auto;
  src: url('../fonts/GT-America-Medium.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT America R';
  font-display: auto;
  src: url('../fonts/GT-America-Regular.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

// Fonts
$font-body: 'GT America R', sans-serif;
$font-body-medium: 'GT America M', sans-serif; 
$font-headings: 'GT America EM', sans-serif;

// Base sizes
$base-font-size: 16px; // General font-size, also used for mobile - default 16px
$base-font-size-desktop: 16px; // Desktop font-size - default 16px 

/********* Colors *********/

$white: white;
$black: black;
$gray: #F7F7F7;
$gray-medium: #BCBCBC;
$gray-dark: #1D1D1D;

$yellow: #ffe01b;
$purple: #411057;

// Set font colors
$color-body: #1D1D1D;
$color-headings: $color-body;


// Bootstrap Grid only
//


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 480px,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 1024px,
  // Large screen / desktop
  lg: 1440px,
  // Extra large screen / wide desktop
  xl: 1920px 
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          3rem !default; // 2rem

//missing variables
$enable-flex:               false !default;
$enable-grid-classes:        true !default;